body { 
    margin: 0; 
    height: 100vh;
}
  
canvas { 
    display: block;
}

h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat';
    font-size: 3em;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    color: white;
    border: 5px solid white;
    padding: .2em;

  }

a {
    color: rgba(229, 0, 0);
}

.author {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat';
    font-size: 1em;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    color: white;
    padding: .2em;
}

